*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

/*html {*/
/*    scroll-behavior: smooth;*/
/*}*/

body {
    font-family: 'Roboto Mono', monospace;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #ffffff;
    color: #3e3331;
    margin: 0;
    font-size: 16px;
}

/*TYPOGRAPHY*/
h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 4.052em;
}

h2 {
    font-size: 4.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

small, .text_small {
    font-size: 0.8em;
}

/*NAV*/
nav {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    align-items: center;
}

nav .button-container {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: menu-in 1.4s;
    animation-timing-function: ease-in-out;
}

nav .button-container .menu-button {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 14px;
    justify-content: space-between;
    cursor: pointer;
}

nav .button-container .menu-button span {
    background-color: #3e3331;
    width: 100%;
    height: 2px;
    display: block;
}

nav .logo {
    font-family: Playfair Display, serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: logo-in 1.8s;
    animation-timing-function: ease-in-out;
}

nav .scrolldown {
    position: fixed;
    font-size: 10px;
    font-weight: 600;
    left: 45px;
    writing-mode: vertical-lr;
    height: 200px;
    bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: -1;
    width: 30px;
    line-height: 30px;
    animation: scroll-in 1.2s;
    animation-timing-function: ease-in-out;
}

nav .scrolldown::after {
    content: "";
    display: block;
    position: absolute;
    height: 90px;
    width: 1px;
    background-color: rgba(62, 51, 49, 0.5);
    opacity: 1;
    bottom: 0px;
    left: 15px;
    animation: scroll-in 1.8s;
    animation-timing-function: ease-in-out;
}

@keyframes menu-in {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes logo-in {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes scroll-in {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    50% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/*CONTENT*/
.scrolls {
    /*height: 100vh;*/
    min-height: 100vh;
    height: 1px;
    /*height: auto;*/
}

.scrolls h2 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    margin-bottom: 0.4em;
    animation: heading-out 0.8s forwards;
    animation-timing-function: cubic-bezier(0.72, 0.33, 0.37, 0.66);
    animation-delay: 0.8s;
}

.scrolls h4 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 0.4em;
    animation: heading-out 0.8s forwards;
    animation-timing-function: cubic-bezier(0.72, 0.33, 0.37, 0.66);
    animation-delay: 0.8s;
}

.scrolls p {
    margin-bottom: 2.25em;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Caveat", cursive;
    font-size: 35px;
    margin-left: 3px;
    animation: heading-out 0.8s forwards;
    animation-timing-function: cubic-bezier(0.72, 0.33, 0.37, 0.66);
    animation-delay: 0.8s;
}

.scrolls .background {
    position: absolute;
    display: block;
    width: 33.333vw;
    height: 100vh;
    background-color: #FFE0B2;
    left: -100%;
    transition: left 0.5s;
    will-change: left;
    animation: background-away 1.5s forwards;
    animation-timing-function: cubic-bezier(0.72, 0.33, 0.37, 0.66);
    animation-delay: 0.8s;
    z-index: 0;
    opacity: 1;
}

.img-w-text.scrolls img {
    animation: image-out 0.5s forwards;
    animation-delay: 0.8s;
}

.scrolls button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: Roboto Mono, monospace;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 800;
    color: #3e3331;
    margin-left: 3px;
    position: relative;
    cursor: pointer;
    animation: heading-out 0.8s forwards;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.72, 0.33, 0.37, 0.66);
}

.scrolls button::after {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 0%;
    background-color: rgba(157, 111, 95, 0.267);
    bottom: 3px;
    z-index: -1;
    transition: 0.3s;
}

.scrolls button:hover::after {
    width: 100%;
}

.active .background {
    animation: back 2.2s forwards;
    animation-delay: 0s;
}

.img-w-text.active img {
    animation: image-in 2.8s forwards;
    animation-delay: 0s;
}

.active h2 {
    animation: heading-in 2.8s forwards;
    animation-delay: 0s;
}

.active h4 {
    animation: heading-in 2.8s forwards;
    animation-delay: 0s;
}

.active p {
    animation: heading-in 3.4s forwards;
    animation-delay: 0s;
}

.active button {
    animation: heading-in 3.8s forwards;
    animation-delay: 0s;
}

@keyframes back {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}

@keyframes background-away {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes image-in {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: calc(100% - 100px);
    }
}

@keyframes image-out {
    from {
        width: calc(100% - 100px);
    }
    to {
        width: 0;
    }
}

@keyframes heading-in {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    50% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes heading-out {
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.container .image {
    width: 50%;
}

.container .image img {
    width: calc(100% - 100px);
    height: 560px;
    object-fit: cover;
    position: relative;
    will-change: width;
    box-shadow: 0 1.1px 3.2px rgba(0, 0, 0, 0.09), 0 3.4px 7.3px rgba(0, 0, 0, 0.076), 0 7.6px 12.8px rgba(0, 0, 0, 0.065), 0 14.9px 20.5px rgba(0, 0, 0, 0.057), 0 26.1px 31.5px rgba(0, 0, 0, 0.053), 0 38px 47px rgba(0, 0, 0, 0.048), 0 47.6px 64.8px rgba(0, 0, 0, 0.038), 0 55px 80px rgba(0, 0, 0, 0.022);
}

.container .items {
    height: auto;
    width: 50%;
}

.img-w-text {
    background-color: #FFF9C4;
}

.img-w-text_reverse {
    background-color: #FFE0B2;
}

.img-w-text_reverse .container .items {
    height: auto;
    width: 75%;
}

.img-w-text_reverse .background {
    background-color: rgb(252, 211, 151);
}

.img-w-text_reverse .image {
    display: flex;
    justify-content: flex-end;
}

.pagination {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.pagination ul li {
    margin: 0 5px;
}

.pagination ul li a {
    position: relative;
    display: block;
    color: transparent;
    transition: all 0.4s ease;
    padding: 3px 25px 3px 0;
    font-family: "Caveat", cursive;
    font-size: 25px;
}

.pagination ul li a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.pagination ul li a:hover:after, .pagination ul li a.active:after {
    background-color: #B3E5FC;
    transition: all 0.4s ease;
}

.pagination ul li a:hover {
    color: #fff;
    text-shadow: 1px 1px 1px #000000a3;
}

.pagination ul li a.active, .pagination ul li a:hover {
    color: #fff;
    transition: all 0.4s ease;
    text-shadow: 1px 1px 1px #000000a3;
}

.section-hero {
    position: relative;
}

.section-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-hero h2 {
    color: #fff;
    margin-bottom: 60px;
}

.section-hero h4 {
    color: #fff;
}

.section-hero h4 span {
    font-size: 30px;
}

.section-hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.section-hero__bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
}


.section-hero__bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 1;
}

.section-hero__content {
    text-align: center;
    position: relative;
    z-index: 1;
}

.section-hero__content a {
    text-decoration: none;
    display: inline-block;
    transition: all 0.4s ease;
}

.section-hero__content a:hover {
    transform: scale(1.4);
    transition: all 0.4s ease;
}

.art {
    background-color: #c9cdcc;
}

.art.active h2 {
    animation: heading-in 1.5s forwards;
    animation-delay: 0s;
}

.art.active p {
    animation: heading-in 2s forwards;
    animation-delay: 0s;
}

.art__head h2 {
    font-size: 35px;
}

.art__head p {
    font-size: 23px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.art__body {
    display: flex;
    gap: 20px;
    animation: heading-out 0.8s forwards;
    animation-timing-function: cubic-bezier(0.72, 0.33, 0.37, 0.66);
    animation-delay: 0.8s;
}

.art.active .art__body {
    animation: heading-in 1.5s forwards;
    animation-delay: 0s;
}

.art__image {
    flex: 0 1 33.333%;
    overflow: hidden;
    transition: all 0.4s ease;
    cursor: pointer;
    position: relative;
    line-height: 0;
}

.art__hidden {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s ease;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 35px;
    font-family: "Caveat", cursive;
}

.art__image:hover {
    transform: translate(0, -7px);
    transition: all 0.4s ease;
}

.art__image:hover .art__hidden {
    transition: all 0.4s ease;
    opacity: 1;
}

.art__image img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.inst {
    background-color: #fff;
}

.inst.active h2 {
    animation: heading-in 1.5s forwards;
    animation-delay: 0s;
}

.inst.active p {
    animation: heading-in 2s forwards;
    animation-delay: 0s;
}

.inst h2 {
    font-size: 35px;
}

.inst p {
    font-size: 23px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.inst__container {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
}

.inst__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2px;
}

.inst__item {
    flex: 0 0 33.333%;
    line-height: 0;
    padding: 0 2px 4px;

}

.inst__hidden {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s ease;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 27px;
    font-family: "Caveat", cursive;
    padding: 30px;
    line-height: 1;
    text-align: center;
}

.inst__image {
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.inst__image img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: all 0.4s ease;
}

.inst__image:hover .inst__hidden {
    opacity: 1;
    transition: all 0.4s ease;
}

.love {
    position: relative;
}

.love__container {
    align-items: flex-end;
}

.love__content {
    padding-right: 30px;
}

.love__content h2 {

    color: #fff;
}

.love__content p {
    color: #fff;
    margin-bottom: 20px;
}

.love__bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.love__bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.love__music {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 455px;
}

.final {
    position: relative;
}

.final__container {

}

.final__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(5px) brightness(0.7);
}

.final__bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0.5);
}

.final__content {
    text-align: center;
    padding-right: 30px;
}

.final__content h2 {
    color: #fff;
}

.final__content p {
    color: #fff;
}

@media screen and (max-width: 1024px) {
    h2 {
        font-size: 50px;
    }

    .section-hero h2 {
        margin-bottom: 35px;
    }

    .pagination ul li a {
        font-size: 0 !important;
        padding: 15px 15px 15px 0px;
    }

    .img-w-text .container {
        flex-direction: column;
    }

    .img-w-text .container .image {
        margin-bottom: 25px;
        width: 100%;
        text-align: center;
    }

    .container .image img {
        width: 100%;
        max-width: 500px;
        animation: unset;
    }

    .img-w-text .container .items {
        text-align: center;
        width: 100%;
        max-width: 660px;
    }

    .img-w-text .container .items h2 {
        font-size: 40px;
    }

    .img-w-text .container .items p {
        font-size: 27px;
        margin-bottom: 20px;
    }

    .img-w-text.img-w-text_reverse .container {
        flex-direction: column-reverse;
    }

    .img-w-text_reverse .image {
        justify-content: center;
    }

    .img-w-text_reverse .container .items {
        width: 100%;
        max-width: 660px;
    }

    .love__content h2 {
        font-size: 40px;
    }

    .love__content p {
        font-size: 27px;
    }
}

@media screen and (max-width: 640px) {
    .art__body {
        flex-direction: column-reverse;
    }

    .love__music {
        top: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 90%;
    }

    .final__content p {
        font-size: 27px;
    }

    .final__content h2 {
        font-size: 40px;
    }

    .inst__item {
        flex: 0 0 50%;
    }
}